body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  margin: auto;
  width: 360px;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start; /* to avoid logo clickable area stretching */
  padding: 24px 20px;
}

.header__logo-image {
  width: 78.453px;
  height: 15.432px;
  flex-grow: 0;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-item {
  font-size: 16px;
}

.header__menu-link {
  color: #f5f5f5;
  text-decoration: underline;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: right;
  min-height: 198px;
  padding: 7px 24px 30px 21px;
}

.cover__title {
  color: #fff;
  display: block;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 0 20px 37px 20px;
}

.intro__heading {
  display: flex;
}

.intro__title {
  color: #ccc;
  font-size: 16px;
  line-height: 120%;
}

.intro__date {
  white-space: nowrap;
  color: #ccc;
  font-size: 16px;
  line-height: 120%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer__links-link {
  text-decoration: none;
  color: #f5f5f5;
}
